.head {
    margin: 0px;
    background-image: url("images/header.jpg");
    font-family: 'Anton', sans-serif;
    color: cornsilk;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1;
}

.input {
    max-width: 300px;
}

.foot {
    margin: 0px;
    background-color: darkslategray;
    padding: 20px;
    color: cornsilk;
}